---
# There is an issue with ODBC Driver 18.6.1 and later on Windows where it
# causes SQL Server connections to fail during setup of the site database.
# https://www.ahmetkurt.com.tr/error-received-while-installing-sccm-version-24032509-error-code-cannot-insert-the-value-null-into-column-and-lu_licensedproduct/

- name: Get ODBC Driver 18 product ID
  ansible.windows.win_shell: |
    (Get-WmiObject Win32_Product | Where-Object { $_.Name -like '*ODBC*18*' }).IdentifyingNumber
  register: odbc_guid

- name: Uninstall current ODBC Driver 18
  ansible.windows.win_package:
    product_id: "{{ odbc_guid.stdout | trim }}"
    state: absent
    arguments: /quiet /norestart
  when: odbc_guid.stdout | trim | length > 0

- name: Create temp directory
  ansible.windows.win_file:
    path: C:\temp
    state: directory

- name: Download ODBC Driver 18.5.2
  ansible.windows.win_get_url:
    url: https://go.microsoft.com/fwlink/?linkid=2335671
    dest: C:\temp\msodbcsql_18.5.2.msi
    follow_redirects: all

- name: Install ODBC Driver 18.5.2
  ansible.windows.win_package:
    path: C:\temp\msodbcsql_18.5.2.msi
    state: present
    arguments: 'IACCEPTMSODBCSQLLICENSETERMS=YES /quiet /norestart'

- name: Reboot after ODBC driver change
  ansible.windows.win_reboot:

- name: Verify ODBC Driver version
  ansible.windows.win_shell: |
    (Get-ItemProperty 'HKLM:\SOFTWARE\ODBC\ODBCINST.INI\ODBC Driver 18 for SQL Server').DriverODBCVer
    Get-WmiObject Win32_Product | Where-Object { $_.Name -like '*ODBC*18*' } | Select-Object Name, Version
  register: odbc_check

- name: Display ODBC version
  ansible.builtin.debug:
    var: odbc_check.stdout