[Identification]
Action=InstallPrimarySite

[Options]
ProductID=EVAL
SiteCode={{ ludus_sccm_sitecode }}
SiteName={{ ludus_sccm_sitename }}
ParentSiteServer='{{ effective_parent_site_server_hostname }}.{{ ludus_domain_fqdn }}'
ParentSiteCode={{ ludus_sccm_parent_sitecode }}
SMSInstallDir=C:\Program Files\Microsoft Configuration Manager
SDKServer='{{ effective_site_server_hostname }}.{{ ludus_domain_fqdn }}'
RoleCommunicationProtocol=HTTPorHTTPS
ClientsUsePKICertificate=0
PrerequisiteComp=0
PrerequisitePath={{ ludus_sccm_win_sccm_config_default_prereq_path }}
ManagementPoint='{{ effective_mgmt_server_hostname }}.{{ ludus_domain_fqdn }}'
ManagementPointProtocol=HTTP
DistributionPoint='{{ effective_distro_server_hostname }}.{{ ludus_domain_fqdn }}'
DistributionPointProtocol=HTTP
DistributionPointInstallIIS=0
AdminConsole=1
JoinCEIP=0

[SQLConfigOptions]
SQLServerName='{{ effective_sql_server_hostname }}.{{ ludus_domain_fqdn }}'
DatabaseName=CM_{{ ludus_sccm_sitecode }}
SQLSSBPort=4022

[CloudConnectorOptions]
CloudConnector=0
CloudConnectorServer='{{ effective_site_server_hostname }}.{{ ludus_domain_fqdn }}'
UseProxy=0
